.sem-card-text {
  text-decoration: none;
  color: rgb(79 70 229);
}
.sem-card-text:hover {
  color: rgb(99 102 241);
}
.bg-mobile {
  /* background-image: "url(assets/images/login_image.svg)"; */
  background: black;
  background-size: cover;
}
.margin-top-sm {
  margin-top: 0;
}
@media screen and (max-width: 480px) {
  .margin-top-sm {
    margin-top: -10rem;
  }
}
.font-poppins {
  font-family: 'Poppins';
}
.logout-btn {
  background: transparent;
  color: white;
}
.logout-btn:hover {
  background: rgb(241 245 249);
  color: rgb(79 70 229);
}
.sem-select-card {
  height: 12rem;
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.navbar-bg {
  background: #9575CD;
}